/* ===============
    GENERAL
=============== */
:root {
    --accent-one: #E5A236;
    --accent-two: #508EF8;
    --accent-three: #7AB886;
}
body {
    background: #eee;
    font-family: 'Nunito', Helvetica, sans-serif;
}
strong {
    color: var(--accent-two)
}

/* ===============
    MAIN
=============== */
.relative .funny-glasses {
    position: absolute;
    top: 310px;
    left: 427px;
}

.absolute .bandana {
    position: absolute;
    top: 175px;
    left: 110px;
}

.fixed .fixed-corgi {
    position: relative; /* Ensure the corgi stays in its container */
}

.fixed .fixed-corgi-signature {
    position: fixed;
    top: 50px; /* Adjust top position as needed */
    left: 90px; /* Center horizontally */
    transform: translateX(-50%);
}


.sticky {
    position: sticky;
    left: 0;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}

.stick-clothing {
    flex-shrink: 0; /* Prevent clothes from shrinking */
}

.zindex .top-hat {
    z-index: 1;
    position: relative;
}

/* Ensure Luna stays fixed to the left */
.luna {
    position: sticky;
    left: 0;
    padding: 1em;
}
